## Khởi tạo dataframe

In [1]:
import pandas as pd

df = pd.read_csv("x29.txt",header = None, index_col = 0)
df.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,,,,,,,,,,,,,,,,
1,36,27,71,8.1,3.34,11.4,81.5,3243,8.8,42.6,11.7,21,15,59,59,921.870
2,35,23,72,11.1,3.14,11.0,78.8,4281,3.6,50.7,14.4,8,10,39,57,997.875
3,44,29,74,10.4,3.21,9.8,81.6,4260,0.8,39.4,12.4,6,6,33,54,962.354
4,47,45,79,6.5,3.41,11.1,77.5,3125,27.1,50.2,20.6,18,8,24,56,982.291
5,43,35,77,7.6,3.44,9.6,84.6,6441,24.4,43.7,14.3,43,38,206,55,1071.289

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 1 to 60
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       60 non-null     int64
 1   2       60 non-null     int64
 2   3       60 non-null     int64
 3   4       60 non-null     float64
 4   5       60 non-null     float64
 5   6       60 non-null     float64
 6   7       60 non-null     float64
 7   8       60 non-null     int64
 8   9       60 non-null     float64
 9   10      60 non-null     float64
 10  11      60 non-null     float64
 11  12      60 non-null     int64
 12  13      60 non-null     int64
 13  14      60 non-null     int64
 14  15      60 non-null     int64
 15  16      60 non-null     float64
dtypes: float64(8), int64(8)
memory usage: 8.0 KB

In [3]:
df.describe()

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
count,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000
mean,37.366667,34.816667,74.600000,8.798333,3.263167,10.973333,80.913333,3876.050000,11.873333,46.073333,14.373333,37.850000,22.516667,53.766667,57.533333,940.358433
std,9.984678,11.975245,4.766408,1.464552,0.135252,0.845299,5.141373,1454.102361,8.919886,4.626851,4.160096,91.977673,46.358402,63.390468,5.460076,62.206278
min,10.000000,12.000000,63.000000,5.600000,2.920000,9.000000,66.800000,1441.000000,0.800000,33.800000,9.400000,1.000000,1.000000,1.000000,38.000000,790.733000
25%,32.750000,27.000000,72.000000,7.675000,3.210000,10.400000,78.375000,3104.250000,4.950000,43.250000,12.000000,7.000000,4.000000,11.000000,54.750000,898.372000
50%,38.000000,31.500000,74.000000,9.000000,3.265000,11.050000,81.150000,3567.000000,10.400000,45.500000,13.200000,14.500000,9.000000,30.000000,57.000000,943.683000
75%,43.250000,40.000000,77.250000,9.700000,3.360000,11.500000,83.600000,4519.750000,15.650000,49.525000,15.150000,30.250000,23.750000,69.000000,60.000000,983.205750
max,60.000000,83.000000,85.000000,11.800000,3.530000,12.300000,90.700000,9699.000000,38.500000,59.700000,26.400000,648.000000,319.000000,278.000000,73.000000,1113.156000

## Split

In [4]:
# Số lượng
m = df.shape[0]

# Biến X
X = df.iloc[:,0:15]

# # Biến y
y = df.iloc[:,15]

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 1/6, random_state = 0)

y_train.shape

(50,)

## Chuẩn hóa dữ liệu

In [6]:
def normalize_and_add_ones(X):
    X = np.array(X)
    X_max = np.array([[np.amax(X[:,col_id])] for col_id in range(X.shape[1])] for _ in range (X.shape[0]))             
    X_min = np.array([[np.amin(X[:,col_id])] for col_id in range(X.shape[1])] for _ in range (X.shape[0]))    
    X_nor = (X-X_min) / (X_max - X_min)
    
    ones = np.array([[1] for _ in range(X_nor.shape[0])])
    return np.column_stack((ones, X_nor))

## Xây dựng lớp RidgeRegression

In [7]:
class RR:
    def __init__(self):
        return
    
    def fit(self, X_train, y_train, LAMBDA):...
        
    def predict(self, W, X_new):...
        
    def compute_RSS(seld, y_new, y_predicted):...
        
    def get_the_best_LAMBDA(self, X_train, y_train):...

In [8]:
def fit(self, X_train, y_train, LAMBDA):
    assert len(X_train.shape) == 2 and X_train.shape[0] == y_train.shape[0]
    
    W = np.linalg.inv( X_train.transpose().dot(X_train) + LAMBDA * np.indentity(X_train.shape[1])
    ).dot(X_train.transpose()).dot(y_train)
    return W

## Model

In [9]:
def fit_gradient_descent(self, X_train, y_train, LAMBDA, learning_rate, max_num_epoch =100,batch_size = 128):
    W = np.random.randn(X_train.shape[1])
    last_loss = 10e+8
    for ep in range(max_num_epoch):
        arr = np.array(range(X_train.shape[0]))
        np.random.shuffle(arr)
        X_train = X_train[arr]
        y_train = y_train[arr]
        total_minibatch = int(np.ceil(X_train.shape[0]/batch_size))
        for i in range(total_minibatch):
            index = i * batch_size
            X_train_sub = X_train[index:index+batch_size]
            y_train_sub = y_train[index:index+batch_size]
            grad = X_train_sub.T.dot(X_train_sub.dot(W)-y_train_sub)+ LAMBDA*W
            W = W - learning_rate*grad
            
        new_loss = self.compute_RSS(self.predict(W,X_train),y_train)
        if (np.abs(new_loss - last_loss) <= 1e-5):
            break
        last_loss = new_loss
        
        return W

In [10]:
def predict(self, W, X_new):
    X_new = np.array(X_new)
    y_new = X_new.dot(W)
    return y_new

In [11]:
def compute_RSS(self, y_new, y_predicted, yprint = 0):
        if (yprint == 1):
            print("Actuality          Prediction")
            for i in range(len(y_new)):
                print(Y_new[i]," ",y_predicted[i])
        loss = 1./ y_new.shape[0] * np.sum((y_new - y_predicted) ** 2)
        return loss

In [13]:
    def get_the_best_LAMBDA(self, X_train, y_train):
        def cross_validation(num_folds, LAMB):
            row_ids = np.array( range(X_train.shape[0]))
            valid_ids = np.split(row_ids[:len(row_ids) - len(row_ids) % num_folds], num_folds)
            valid_ids[-1] = np.append(valid_ids[-1], row_ids[len(row_ids) - len(row_ids) % num_folds:])
            train_ids = [[k for k in row_ids if k not in valid_ids[i]] for i in range(num_folds)]
            aver_RSS = 0
            for i in range(num_folds):
                valid_part = {'X': X_train[valid_ids[i]], 'y': y_train[valid_ids[i]]}
                train_part = {'X': X_train[train_ids[i]], 'y': y_train[train_ids[i]]}
                W = self.fit_gradient_descent(train_part['X'], train_part['y'], LAMB)
                Y_predicted = self.predict(W, valid_part['X'])
                aver_RSS += self.compute_RSS(valid_part['y'], Y_predicted)
            return aver_RSS / num_folds
        
        def range_scan(best_LAMB, minimum_RSS, LAMB_values):
            for current_LAMB in LAMB_values:
                aver_RSS = cross_validation(num_folds = 5, LAMB = current_LAMB)
                if (aver_RSS < minimum_RSS):
                    best_LAMB = current_LAMB
                    minimum_RSS = aver_RSS
            return best_LAMB, minimum_RSS

        best_LAMB ,  minimum_RSS = range_scan( best_LAMB = 0, minimum_RSS=10000 ** 2, LAMB_values = range(50)) 

        # tiep tuc chia nho LAMB_values de tinh
        LAMB_values = [k*1./ 1000 for k in range( max(0,(best_LAMB - 1) * 1000), (best_LAMB + 1) * 1000 , 1)]
        best_LAMB , minimum_RSS = range_scan(best_LAMB = best_LAMB, minimum_RSS = minimum_RSS, LAMB_values = LAMB_values)

        return best_LAMB

## Main

In [ ]:
ridgeRegression = RidgeRegression()

best_LAMBDA = ridgeRegression.get_the_best_LAMBDA(X_train,y_train)
W_learned = ridgeRegression.fit_gradient_descent(X_train = X_train, y_train = y_train, LAMB = best_LAMBDA)
label_predicted = ridgeRegression.predict( W = W_learned, X_new = feature_test)
print ("Loss: ",ridgeRegression.compute_RSS(y_new = y_test, y_predicted = y_predicted, yprint = 1))
print ("Best LAMBDA ", best_LAMBDA)